<header class="bg-red-light font-sans text-sm p-4 text-white leading-loose">
    <nav class="max-w-xl mx-auto">
        <ul class="list-reset flex justify-between">
                <li> <a href="/" class="text-white hover:text-grey-lighter no-underline"> <strong> HOME </strong> </a> </li>
                <li> <a href="/contact-us" class="text-white hover:text-grey-lighter no-underline"> <strong> CONTACT </strong> </a> </li>
                <li> <a href="/login" class="text-white hover:text-grey-lighter no-underline text-right"> <strong> LOGIN </strong> </a> </li>
                <li> <a href="/register" class="text-white hover:text-grey-lighter no-underline text-right"> <strong> REGISTER </strong> </a> </li>
        </ul>
    </nav>
</header>
        

    