<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
            rel="stylesheet">
    </head>

    <body>
        <header>
             <nav>
                <ul>
                    <li> <a href="/" > Home </a> </li>
                    <li> <a href="/contact-us" > Contact </a> </li>
                </ul>
            </nav>
        </header>

    