{{> header}}
<form action="/contact-us" method="post"> 
  Enter your name*: 
  <br> 
  <input type="text" name="name" placeholder="Full name" /> 
  <br> 
  Enter your email*: 
  <br> 
  <input type="email" name="email" placeholder="example@gmail.com"/> 
  <br>
  Enter your message: 
  <br>
  <textarea name="message" placeholder="Your message"> </textarea>
  <br>
  <button> Submit </button> 
</form>    
{{> footer}} 