<!DOCTYPE HTML>
<html>
    {{> head}}        
    <body>
        {{> header}}
        <div class="font-sans w-full max-w-xs mx-auto pt-16">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/login" method="post">
                <div class="mb-6">
                    <strong> ACCOUNT LOGIN </strong>
                </div>
                <div class="flex mb-6">
                    <button class="shadow bg-red-light hover:bg-red-lighter focus:shadow-outline focus:border-red-light text-white font-bold w-full py-2 pl-4">
                       <svg width="13px" height="13px" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-9" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512"><path fill="currentColor" d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"></path></svg>
                        SIGN IN WITH FACEBOOK
                    </button> 
                </div>
                <div class="flex mb-6">
                    <button class="shadow bg-blue-dark hover:bg-blue focus:shadow-outline focus:border-blue-light text-white font-bold w-full py-2">
                        <svg width="12px" height="12px" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" class="svg-inline--fa fa-google fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
                        SIGN IN WITH GOOGLE
                    </button> 
                </div>
                <div class="mb-4">
                    <input class="shadow appearance-none border border-red-lighter w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:border-red-light" type="email" name="email" placeholder="Your email" value ="{{ email }}" required/>     
                </div>
                <div class="mb-6">
                    <input class="shadow appearance-none border border-red-lighter w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:border-red-light" type="password" name="password" placeholder="Your password" value ="{{ password }}" required>
                </div>
                <div class="flex items-center">
                    <button class="shadow bg-red-light hover:bg-red-lighter focus:shadow-outline focus:border-red-light text-white font-bold w-full py-2 px-3">
                        SIGN IN
                    </button> 
                </div>
            </form>
        </div>
        <div class="{{ visibility }} bg-red-lightest border border-red-light text-red-dark px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold"> Alert! </strong>
            <span class="block sm:inline"> Invalid username or password </span>
            <span class="absolute pin-t pin-b pin-r px-4 py-3">
                <svg class="fill-current h-6 w-6 text-red" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>
        {{> footer}}
    </body>
</html>    